@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

.material-symbols-outlined {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 20;
}

@theme {
    --breakpoint-mobile: 9.375rem; /* 344px 이상 */
    --breakpoint-tablet: 48rem; /* 768px 이상 */
    --breakpoint-pc: 90rem; /* 1440px 이상 */
}

@layer components {
    .flex-center {
        @apply flex items-center justify-center;
    }

    .flex-row {
        @apply flex flex-row items-center justify-between;
    }

    .flex-column {
        @apply flex flex-col items-start justify-center;
    }

    .flex-space-between {
        @apply flex items-stretch justify-between;
    }

    .flex-around {
        @apply flex items-center justify-around;
    }

    .post-reading-root .post-tiptap-content,
    .post-reading-root .post-tiptap-content p {
        font-size: calc(1.8rem * var(--post-read-scale, 1)) !important;
        line-height: var(--post-read-line-height, 1.6) !important;
    }
}

@layer utilities {
    .border-gradient {
        background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(0deg, #c165ff, #ff3284);
        background-origin: border-box;
        background-clip: content-box, border-box;
        border: 1px solid transparent;
    }
    .border-gradient-coupon-left {
        background-image: linear-gradient(#f4f5f9, #f4f5f9), linear-gradient(90deg, #f4f5f9 50%, #d2d5db 50%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        border: 1px solid transparent;
    }
    .border-gradient-coupon-right {
        background-image: linear-gradient(#f4f5f9, #f4f5f9), linear-gradient(270deg, #f4f5f9 50%, #d2d5db 50%);
        background-origin: border-box;
        background-clip: content-box, border-box;
        border: 1px solid transparent;
    }
}
