:root {
    /* 폰트 */
    --custom-font: var(--font-pretendard);
    --root-font-size: 62.5%;
    --default-font-size: 1.8rem;

    --preview-font: var(--font-pretendard);

    /* 배경 색상 */
    --color-background-light: #ffffff;
    // --color-background-light: #EDEDED;
    --color-background-outside: #ffffff;
    --color-background-normal: white;
    --color-background-funnel: #ffffff;

    /* 텍스트 색상 */
    --color-main-text-light: var(--color-gray-800);

    /* 브랜드 색상 */
    --color-brand-900: #00514b;
    --color-brand-800: #007068;
    --color-brand-700: #009082;
    --color-brand-600: #00afa0;
    --color-brand-500: #00c9b9;
    --color-brand-400: #33d1c6;
    --color-brand-300: #66d9d3;
    --color-brand-200: #99e2df;
    --color-brand-100: #ccebeb;
    --color-brand-50: #e6f7f7;

    /* 그레이 색상 */
    --color-gray-1000: #0f172a; /* 거의 블랙 느낌 */
    --color-gray-900: #1e293b;
    --color-gray-800: #334155;
    --color-gray-700: #475569;
    --color-gray-600: #64748b;
    --color-gray-500: #94a3b8;
    --color-gray-400: #cbd5e1;
    --color-gray-300: #e2e8f0;
    --color-gray-200: #f1f5f9;
    --color-gray-100: #f8fafc;
    --color-gray-50: #f9fbfd; /* 거의 화이트 */

    /* 동의 색상 (그린) */
    --color-green-50: #f0faf6;
    --color-green-100: #aeefd5;
    --color-green-200: #76e4b8;
    --color-green-300: #3fd599;
    --color-green-400: #15c47e;
    --color-green-500: #03b26c;
    --color-green-600: #02a262;
    --color-green-700: #029359;
    --color-green-800: #028450;
    --color-green-900: #027648;

    /* 부정 색상 (레드) */
    --color-red-50: #ffeeee;
    --color-red-100: #ffd4d6;
    --color-red-200: #feafb4;
    --color-red-300: #fb8890;
    --color-red-400: #f66570;
    --color-red-500: #f04452;
    --color-red-600: #e42939;
    --color-red-700: #d22030;
    --color-red-800: #bc1b2a;
    --color-red-900: #a51926;

    /* 블루 계열 색상 */
    --color-blue-50: #f4f7ff; /* 가장 밝음 */
    --color-blue-100: #eaf1ff;
    --color-blue-200: #c6e0ff;
    --color-blue-300: #91c5ff;
    --color-blue-400: #5ca9ff;
    --color-blue-500: #3485fa; /* 기준 색상 */
    --color-blue-600: #2c78e6;
    --color-blue-700: #2469c2;
    --color-blue-800: #1d58a0;
    --color-blue-900: #173e7a;
    --color-blue-1000: #0f2a55; /* 가장 진함 */

    /* 경고 색상 (오렌지) */
    --color-orange-900: #a33100;
    --color-orange-500: #ff7337;
    --color-orange-50: #fff4ef;

    /* 헤더, 푸터, 배너 크기 */
    --button-height: 4rem;
    --button-min-height: 3.2rem;
    --nav-height: 5.2rem;
    --header-height: calc(7.2rem + 1.4rem + 1.6rem);
    // --header-height: 7.2rem;
    --footer-height: 4.4rem;
    --letter-line-height: 1.29;

    --tool-height: 4.8rem;
    --tool-width: 24.2rem;

    --preview-width: 37.5rem;
    --preview-height: 66.7rem;

    --modal-width: 35.2rem;

    /* 레이아웃 간격 */
    --section-space: 12.8rem;
    --between-space: 1.2rem;

    /* 입력 폼 */
    --input-height: 4.2rem;
    --input-padding: 0.4rem 0;
    --input-date-width: 12.2rem;

    --shadow-popup:
        rgba(17, 24, 39, 0.1) 0px 0px 0px 1px, rgba(17, 24, 39, 0.04) 0px 1px 1px -0.5px, rgba(17, 24, 39, 0.04) 0px 3px 3px -1.5px, rgba(17, 24, 39, 0.04) 0px 6px 6px -3px,
        rgba(17, 24, 39, 0.04) 0px 12px 12px -6px, rgba(17, 24, 39, 0.04) 0px 24px 24px -12px;
    --shadow-normal:
        0 1px 1px 0.5px #2929290a, 0 3px 3px -1.5px #29292905, 0 6px 6px -3px #2929290a, 0 12px 12px -6px #2929290a, 0 24px 24px -12px #2929290a, 0 48px 48px -24px #2929290a, 0 0 0 1px #2929290a,
        inset 0 -1px 1px -0.5px #3333330f;
    --shadow-hard:
        inset 0 0 0 4px var(--color-gray-500), 0 19px 8px #731f0803, 0 11px 6px #731f080a, 0 5px 5px #731f0812, 0 1px 3px #731f0814, 0 0 0 2px var(--color-gray-200), inset 0 0.5px 0.5px #ffffff1f;

    --shadow-border-normal: inset 0 0 0 1px var(--color-gray-200);
    --shadow-border-brand: inset 0 0 0 1px var(--color-brand-500);

    --shadow-brand-hard:
        inset 0 0 0 4px var(--color-brand-500), 0 19px 8px #731f0803, 0 11px 6px #731f080a, 0 5px 5px #731f0812, 0 1px 3px #731f0814, 0 0 0 1px var(--color-brand-500), inset 0 0.5px 0.5px #ffffff1f;

    /* 버튼 크기 */
    --button-sm-height: 3.2rem;
    --button-sm-padding: 0.2rem 0.4rem;

    --button-md-height: 3.4rem;
    --button-md-padding: 0.2rem 1.2rem;

    --button-lg-height: 5rem;
    --button-lg-padding: 1.2rem 1.8rem;

    /* 반응형 사이즈 */
    --site-banner-height: 3.2rem;

    // --size-pc: 1920px;
    --size-pc: 1440px;
    // --size-pc: 1120px;
    // --size-tablet: 1024px;
    --size-tablet: 768px;
    --size-mobile: 376px;

    /* 라이브러리 관련 */
    --toastify-toast-min-height: auto !important;

    /* 스크롤 탑 위치 */
    --scroll-top: 0;
}
